html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 0.28rem;
}
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
main {
	display: block;
}
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
audio,
canvas,
video,
progress {
	display: inline-block;
	vertical-align: baseline;
}
input,
button,
select,
textarea {
	outline: none;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
textarea {
	resize: none;
}
q {
	quotes: none;
}
address,
cite,
dfn,
em,
var,
i {
	font-style: normal;
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
strong,
b {
	font-weight: bold;
}
ol,
ul {
	list-style: none;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
a {
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
table th,
table td {
	border: 1px solid #ddd;
	padding: 8px 10px;
}
table th {
	font-weight: inherit;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
.ellipsis {
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.elli {
	width: 200px;
	display: -webkit-box;
	font-size: 14px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
input:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-modify: read-write-plaintext-only;
}
input:-moz-placeholder {
	color: #369;
}
::-webkit-input-placeholder {
	color: #369;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}


/*common*/

.clearfix:after {
	display: block;
	content: "020";
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}


/*page-list*/

.l_head {
	padding: 0.24rem 0;
	background-color: #3da0f7;
}

.l_head_search {
	position: relative;
	box-sizing: border-box;
	width: 80.555%;
	margin: 0 auto;
	padding-left: 10px;
	background-color: #fff;
	border-radius: 18px;
	overflow: hidden;
}

.l_head_search input {
	width: 78%;
	height: 30px;
	margin: 0;
	color: #999999;
	border: none;
	font-size: 0.26rem;
}

.l_head_icon {
	position: absolute;
	height: 30px;
	padding: 4px;
	top: 0;
	right: 5%;
}

.l_head_line {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	height: 18px;
	width: 1px;
	margin-left: 8px;
	vertical-align: -5px;
	background-color: #a1d1fb;
	transform: scaleX(0.5);
	-webkit-transform: scaleX(0.5);
}

.l_blur_focus {
	display: none;
	position: absolute;
	width: 17px;
	right: 21%;
	top: 6px;
}


/*The list of filtrate*/

.l_filtrate_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 0.27rem;
	text-align: center;
	color: #3da0f7;
	background: #fff;
}

.l_filtrate_list li {
	box-sizing: border-box;
	-webkit-box-flex: 1;
	flex: 1;
	-webkit-flex: 1;
	padding: 12px 4px;
}

.l_filtrate_list li img {
	width: 0.25rem;
	margin-right: 4px;
	font-size: 0;
	vertical-align: -1px;
}

.l_count_result {
	box-sizing: border-box;
	padding: 4px 0 4px 2%;
	font-size: 16px;
	color: #949494;
	background-color: #ebebeb;
	line-height: 200%;
}

.l_pro_tit {
	display: block;
	float: left;
	max-width: 20%;
	line-height: 20px;
	color: #000;
}

.l_pro_limit {
	line-height: 20px;
	min-width: 78%;
}

.l_show_time {
	float: right;
}

.l_vip,
.l_promotion {
	display: block;
	float: left;
	height: 18px;
	margin: 2px 5px 0 0;
	line-height: 18px;
}

.l_vip {
	width: 57px;
	padding-right: 7px;
	text-align: right;
	color: #f95644;
	background: url("../images/vip_image@2x.png") top left no-repeat;
	background-size: cover;
}

.l_promotion {
	width: 56px;
	background: url("../images/tuiguang_image@2x.png") top left no-repeat;
	background-size: cover;
}


/************login/register****************/

.j-background-gray {
	background: #f6f6f6;
}

.j_login {
	width: 90%;
	margin: 0 auto;
	padding-top: 0.5rem
}

.j_login_div {
	height: 0.7rem;
	border: 1px solid #d8d8d8;
	width: 99%;
	margin: 0 auto;
	margin-top: 0.5rem;
	background: #fff;
}

.j_login-input {
	width: 100%;
	text-indent: 0.9rem;
	border: 0px;
	height: 0.7rem;
	float: left;
}

.eye-password {
	height: 0.32rem;
	margin-top: 0.18rem;
	float: right;
	margin-right: 0.22rem;
}

.small-width {
	width: 85%;
}

.user-img {
	background: #fff url(../images/admindd_image@3x.png) no-repeat 0.2rem center;
	background-size: 0.4rem;
}

.password-img {
	background: #fff url(../images/querenmima@3x.png) no-repeat 0.2rem center;
	background-size: 0.4rem;
}

.j_button-red {
	background: #f95645;
	height: 0.7rem;
	font-size: 0.3rem;
	width: 100%;
	border: 0px;
	color: #fff;
	float: left;
}

.j_reminder {
	font-size: 0.25rem;
	margin-top: 1rem;
	padding-bottom: 0.2rem;
	color: #f95645;
}

.j_other {
	font-size: 0.3rem;
	text-align: center;
	padding: 0.4rem 0 0.3rem;
	margin: 0 auto;
	width: 100%;
	float: left;
}

.j_button-red {
	background: #f95645;
	height: 0.7rem;
	font-size: 0.3rem;
	width: 100%;
	border: 0px;
	color: #fff;
	float: left;
}

.j_reminder {
	font-size: 0.25rem;
	margin-top: 1rem;
	padding-bottom: 0.2rem;
	color: #f95645;
}

.j_other {
	font-size: 0.3rem;
	text-align: center;
	padding: 0.4rem 0 0.3rem;
	margin: 0 auto;
	width: 100%;
	float: left;
}

.smaller-width {
	width: 60%;
}

.user-img {
	background: #fff url(../images/admindd_image@3x.png) no-repeat 0.2rem center;
	background-size: 0.38rem;
}

.password-img {
	background: #fff url(../images/querenmima@3x.png) no-repeat 0.2rem center;
	background-size: 0.38rem;
}

.user-mobile {
	background: #fff url(../images/shoujisr_image@3x.png) no-repeat 0.2rem center;
	background-size: 0.28rem;
}

.user-compName {
	background: #fff url(../images/iconfont-gongsi@3x.png) no-repeat 0.2rem center;
	background-size: 0.4rem;
}

.code-img {
	background: #fff url(../images/yzmsd_image@3x.png) no-repeat 0.2rem center;
	background-size: 0.42rem;
}

.j_button-red {
	background: #f95645;
	height: 0.7rem;
	width: 100%;
	border: 0px;
	color: #fff;
	float: left;
	border-radius: 2px;
}

.j_reminder {
	font-size: 0.27rem;
	margin-top: 1rem;
	padding-bottom: 0.2rem;
	color: #f95645;
	line-height: 0.5rem;
}

.j_other {
	text-align: center;
	padding: 0.4rem 0 0.3rem;
	margin: 0 auto;
	width: 100%;
	float: left;
}

.j_reminder-msg {
	width: 100%;
	float: left;
	padding-top: 0.4rem;
	z-index: 10;
	position: fixed;
	bottom: 3rem;
	left: 0;
}

.j-msg {
	width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	background: #7b7b7b;
	color: #fff;
	text-align: center;
	opacity: 1;
	line-height: 0.5rem;
	padding: 0.1rem;
	display: none;
}

.login-downline {
	background: url(../images/denglu_image@3x.png) no-repeat bottom center;
	background-size: 3rem;
	padding: 0.4rem 0 0.2rem
}

.j_code-button {
	background: #fff;
	height: 0.6rem;
	margin-top: 0.05rem;
	border: none;
	border-left: 1px solid #d1d1d1;
	float: right;
	padding: 0 0.2rem;
	color: #3da1f7;
	width: 38%
}

.popups-bak {
	background: #595858;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.popups {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 40%;
	z-index: 2;
	margin-left: -40%;
	background: #fff;
	border-radius: 0.1rem;
}

.poup-title {
	font-weight: bold;
	font-size: 0.3rem;
	line-height: 0.5rem;
	text-indent: 0.2rem;
	padding: 0.1rem 0
}

.poup-words {
	padding: 0.2rem;
}

.poup-a {
	text-align: right;
	padding: 0.1rem 0.2rem 0.2rem
}

.poup-a span {
	margin-right: 0.4rem
}

.j-button-popups {
	border-top: 1px solid #dad9d9;
	width: 100%;
	background: url(../images/line01.jpg) no-repeat center;
	height: 0.8rem;
}

.j-button-popups input {
	width: 47%;
	border: 0px;
	height: 0.8rem;
	text-align: center;
	background: #fff;
	line-height: 0.8rem;
	border-radius: 0.1rem;
}

.bottom-button {
	width: 90%;
}


/*input:focus{-webkit-tap-highlight-color:rgba(255, 255, 255, 0);-webkit-user-modify:read-write-plaintext-only;}*/


/*页尾导航*/

.j_foot-nav {
	width: 100%;
	padding: 0.1rem 0;
	border-top: 1px solid #e4e0d9;
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	background: #fff;
}

.foot-navli {
	width: 100%;
	height: 0.7rem;
	overflow: hidden;
}
.foot-navli li .l_add_btn {
	display: block;
	height: .8rem;
	margin: -0.09rem auto 0;
}
.foot-navli li {
	width: 20%;
	float: left;
	text-align: center;
	font-size: 0.25rem;
	line-height: 0.3rem;
}

.foot-navli li img {
	height: 0.38rem;
}

.now {
	color: #3da0f7;
}

.foot-navli li a {
	color: #292929
}

/*我的首页*/

.j_main-body {
	width: 100%;
	padding-bottom: 0.9rem;
	overflow: hidden;
}
.l_home_tit {
	margin-bottom: 1.48rem;
	font-size: .44rem;
	text-align: center;
	color: #fff;
}
.j_user-main ul li {
	line-height: 0.45rem;
	padding: 0.2rem;
	border-bottom: 1px solid #e4e0d9;
	overflow: hidden;
	color: #373838;
}

.j_user-main ul li a {
	color: #373838;
}

.j_user-main img {
	height: 0.3rem;
	vertical-align: -0.06rem;
	margin: 0 0.1rem
}

.j_arrow img {
	height: 0.3rem;
	vertical-align: middle;
}

.head-position {
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: center;
	color: #fff;
	top: 8%
}

.j_basic-button {
	border: 1px solid #fff;
	border-radius: 3px;
	display: inline-block;
	overflow: hidden;
	width: auto;
	line-height: 0.3rem;
	padding: 0.1rem;
	margin-top: 0.2rem
}

.j_basic-button a {
	color: #fff;
}

.j_basic-button img {
	height: 0.3rem;
	margin-right: 0.1rem;
	vertical-align: middle;
}


/*我的 表单提交页*/

.j_fill-in {
	width: 100%;
	border: 0px;
	text-align: right;
	color: #666;
	background: #fff;
}


/*收藏页面*/

.collect-ul {
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.collect-ul li {
	width: 90%;
	padding: 0.2rem 5%;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.mui-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mui-ellipsis-1 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.mui-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.j_vip {
	padding: 0.15rem 0 0;
	width: 100%;
	overflow: hidden;
}

.icon_vip {
	display: block;
	font-size: 0.2rem;
	color: #f95644;
	float: left;
	text-indent: 0.35rem;
	width: 1.2rem;
	line-height: 0.5rem;
	background: url(../images/vip_image@2x.png) no-repeat left center;
	background-size: 1rem;
}

.icon_promotion {
	display: block;
	float: left;
	width: 1.2rem;
	height: 0.5rem;
	background: url(../images/tuiguang_image@2x.png)no-repeat left center;
	background-size: 1rem;
}

.collect-time {
	font-size: 0.22rem;
	float: right;
	line-height: 0.5rem;
}

.li-line {
	padding: 0.1rem 0 0;
	font-size: 0.25rem;
}

.comp-name {
	font-size: 0.28rem;
	width: 100%;
	overflow: hidden;
}

.icon-collect {
	float: right;
	height: 0.35rem;
}

.unlogin {
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	text-align: center;
	line-height: 0.6rem;
	display: none
}

.unlogin img {
	width: 20%
}

.tsy {
	color: #666;
}

.tsy a {
	color: #f95645;
	padding: 0 0.05rem
}


/*加入*/

.j_topnav {
	width: 100%;
	height: 1.6rem;
	background: url(../images/jiarubg@3x.png) no-repeat left bottom;
	background-size: 100% 100%;
}

.j_topnav ul li {
	color: #fff;
	width: 33.33%;
	float: left;
	text-align: center;
	font-size: 0.28rem;
	padding-bottom: 0.33rem;
}

.j_topnav ul li.hover {
	background: url(../images/jiaruxiala@3x.png) no-repeat center bottom;
	background-size: 0.3rem;
}

.j_topnav ul li img {
	height: 0.45rem;
	padding-top: 0.53rem
}

.j_joinBody {
	width: 86%;
	padding: 0 7%;
}

.j_joinReminder {
	padding: 0.4rem 0 0.2rem;
	color: #737373;
}

.j_input-group {
	width: 100%;
	overflow: hidden;
}

.j_join-input {
	width: 99%;
	text-indent: 0.9rem;
	border: 0px;
	height: 0.7rem;
	float: left;
	border: 1px solid #d8d8d8;
	margin: 0.2rem auto 0 auto;
}

.marTop-two {
	margin-top: 0.4rem
}

.dialMsg {
	color: #989898;
	padding: 0.2rem 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.j_joinArea {
	width: 95%;
	background: #fff;
	border: 1px solid #d8d8d8;
	height: 2rem;
	text-indent: 0.2rem;
	line-height: 0.5rem;
	padding: 0.1rem 2%;
	color: #565656;
	margin-top: 0.2rem
}

.j_joinPre {
	width: 90%;
	background: #fff;
	margin: 0.2rem auto;
	padding: 0.15rem;
}

.j_joinPre ul li {
	padding: 0.12rem 0.2rem;
	color: #737373;
	line-height: 0.45rem;
	font-size: 0.26rem;
}

.j_preTil {
	font-size: 0.28rem;
	color: #454545;
}

.j_joinMsg {
	color: #737373;
	line-height: 0.4rem;
	font-size: 0.26rem;
	padding: 0.3rem 0
}

.j_joinMsg a {
	color: #f95645;
}


/*列表页*/

.catalogue-bak {
	background: #595858;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	display: none;
}

.catalogue {
	position: fixed;
	width: 100%;
	height: 90%;
	left: 0;
	bottom: 0;
	z-index: 6;
	background: #fff;
	display: none;
}

.j_catalogueNull {
	width: 96%;
	height: 0.6rem;
	line-height: 0.6rem;
	border: 1px solid #ddd;
	margin: 0.2rem auto;
	text-align: center;
}

.popul li {
	width: 25%;
	float: left;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 3px solid #ddd;
	line-height: 0.7rem;
	height: 0.7rem;
	box-sizing: border-box;
}

.popul li.hover {
	border-bottom-color: #3da1f7;
	color: #3da1f7;
}

.j_sybody {
	width: 100%;
	float: left;
	position: relative;
	overflow: scroll;
}

.j_sybody ul {
	width: 100%;
	float: left;
	background: #fff;
}

.popNul li {
	list-style: none;
	padding: 0.1rem 0.2rem 0.1rem 0.4rem;
	line-height: 0.5rem;
	border-bottom: 1px solid #e6e5e5;
	color: #484848;
	display: block;
	overflow: hidden;
}

.j_catalogueNull .popNul li {
	padding: 0;
	line-height: 0.6rem;
	border: 0px
}

.j_sybody li {
	list-style: none;
	width: 100%
}

.j_sybody li a.title {
	overflow: hidden;
	width: 100%;
	display: block;
	line-height: 0.4rem;
	text-indent: 0.4rem;
	font-size: 0.35rem;
	padding-top: 0.4rem
}

.j_reanum {
	line-height: 0.6rem;
	border-bottom: 1px solid #c7c6c6;
	text-indent: 0.6rem;
}

.j_scrollNav {
	float: right;
	overflow: hidden;
	background: #fff;
	width: 6%;
	text-align: center;
	position: fixed;
	right: 0px;
}

.j_scrollNav ul li a {
	width: 100%;
	display: block;
	border-bottom: 0px;
	text-indent: 0;
	color: #3da0f7;
}

.j_scrollNav ul li {
	color: #3da0f7;
}

.j_dataul {
	width: 90%;
	float: left;
}


/*列表页供应采购*/

.j_gycg {
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.j_gycg li {
	width: 50%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	float: left;
	height: 0.7rem;
	line-height: 0.7rem;
	box-sizing: border-box;
}

.j_gycg li.on {
	border-bottom: 3px solid #3da0f7
}

#list_content {
	position: relative;
	width: 100%;
}


/*返回顶部*/

.j_returnBack {
	position: fixed;
	right: 0.1rem;
	bottom: 0.1rem;
	z-index: 2;
}

.j_returnBack img {
	width: 0.9rem;
	box-shadow: 1px 1px 5px #888888;
	border-radius: 50%;
}


/*首页*/

.j_aparma {
	color: #363636;
	display: block;
	line-height: 0.3rem;
	width: 90%;
	text-align: center;
	height: 0.6rem;
	overflow: hidden;
	margin: 0.2rem auto 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.color-red {
	color: #f95645;
}

.color-gray {
	color: #666;
}

.color-blue {
	color: #3fa5f9
}

.width-70 {
	width: 70%;
	text-align: right;
}

.grayBg {
	background: #f6f6f6;
}


/************biao****************/

.b_search {
	background: url(../../components/home/images/bj.png) no-repeat;
	background-size: 100%;
	height: 3.57rem;
	padding: 0.6rem 20px 0px
}

.b_search_content {
	width: 100%;
	height: 0.82rem;
	line-height: 0.82rem;
	background: url("../../components/home/images/search_icon.png") no-repeat 2rem center/0.3rem 0.3rem #ffffff;
	border-radius: 5px;
	text-align: center;
	color: #8f8f8f;
	font-size: 0.28rem;
}

.b_mom_div {
	background: #fff;
	margin: 0 0 0.1rem
}

.b_nav {
	overflow: hidden;
	border-bottom: 1px solid #dfdfdf
}

.b_nav a {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	height: 1.8rem;
	line-height: 1.8rem;
	color: #363636;
	font-size: 0.35rem
}

.b_nav a.nav_a1 {
	width: 49%;
	border-right: 1px solid #dfdfdf
}

.b_nav img {
	float: left;
	height: 0.9rem;
	margin: 0.4rem 0.3rem 0 25%
}

.b_nav_type {
	overflow: hidden;
	padding: 0.3rem 0 0.2rem
}

.b_nav_type a {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	color: #363636;
}

.b_nav_type a img {
	display: block;
	margin: 0 auto 0.2rem;
	height: 0.7rem;
}

.b_nav_company a {
	width: 20%;
}


/*hot search*/

.part {
	width: 100%;
	margin: 0.1rem auto;
	background: #fff;
	padding: 0 2%;
	float: left;
}

.part_name {
	text-align: left;
	padding: 0.2rem 0 0;
	font-size: 0.3rem
}

.part_name a {
	float: right;
	font-size: 0.28rem;
	color: #7b7b7b;
}

.part_body {
	padding: 0.1rem 0;
	width: 100%;
	overflow: hidden
}

.part_body ul li {
	width: 20%;
	float: left;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 200%;
}

.part_body ul li a {
	color: #058ae7;
	font-size: 0.25rem;
}


/*rank/quanwei*/

.b_ranking_ul li {
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 0.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.b_ranking_ul li a {
	color: #666
}

.b_tab td {
	border: none;
	text-align: center;
	border-bottom: 1px solid #ececec;
	padding: 0.3rem 0
}

.tab_tr1 td {
	background: #ececec;
	height: 0.5rem
}

.b_tab td a {
	color: #1a1e1d
}

.b_nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 1px
}

.b_tab tr .color_span {
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	width: 25px;
	height: 25px;
	background: #ffaa24;
	color: #fff;
	line-height: 25px;
	text-align: center;
	font-size: 0.3rem
}

.b_tab tr:nth-of-type(1) span,
.b_tab tr:nth-of-type(2) span,
.b_tab tr:nth-of-type(3) span {
	background: #f95644;
}

.color_span {
	display: block;
	border-radius: 50%;
	background: #ffaa24;
	margin: 0 auto;
	color: #fff;
	color: #fff;
	width: 0.46rem;
	height: 0.46rem;
	line-height: 0.46rem;
}


/*轮播样式*/

.index-adver {
	width: 100%;
	overflow: hidden;
	height: 1.5rem;
	margin: 0.1rem auto;
	float: left
}


}

.slideBox {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
	/* 设置焦点图最大宽度 */
}

.slideBox .hd {
	position: absolute;
	height: 22px;
	line-height: 28px;
	bottom: 0rem;
	right: 40%;
	z-index: 1;
}

.slideBox .hd li {
	display: inline-block;
	width: 5px;
	height: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #333;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
}

.slideBox .hd li.on {
	background: #fff;
}

.slideBox .bd {
	position: relative;
	z-index: 0;
}

.slideBox .bd li {
	position: relative;
	text-align: center;
}

.slideBox .bd li img {
	background: url(images/loading.gif) center center no-repeat;
	vertical-align: top;
	width: 100%;
	/* 图片宽度100%，达到自适应效果 */
}

.slideBox .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 去掉链接触摸高亮 */

.slideBox .bd li .tit {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-indent: 10px;
	height: 28px;
	line-height: 28px;
	background: url(images/focusBg.png) repeat-x;
	color: #fff;
	text-align: left;
}

.part2 {
	width: 100%;
	overflow: hidden;
	margin: 0.1rem auto;
	background: #fff;
	float: left;
}

.part2-title {
	width: 100%;
	padding: 0 2%;
	border-bottom: 1px solid #d3d5d4;
	overflow: hidden;
	line-height: 200%;
	font-size: 0.3rem
}

.part2-title a {
	font-size: 0.26rem;
	color: #7b7b7b;
}

.part2-body {
	padding-bottom: 0.2rem;
	width: 100%;
	overflow: hidden;
}

.part2-body ul li {
	width: 30%;
	margin-left: 2%;
	float: left;
	border: 1px solid #ccc;
	margin-top: 0.2rem;
	font-size: 0.25rem;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.part2-body ul.red-top li {
	border-top: 2px solid #d32827;
	height: 1rem
}

.part2-body ul.green-top li {
	border-top: 2px solid #10c851;
	height: 1rem
}

.color-green {
	color: #10c851;
}

.b_img_valgn {
	vertical-align: -3px;
	height: 0.29rem;
}
