$fontSizeBase = 14px
$fontSizeLarge = 16px
$fontSizeSmall = 12px

// color
$colorBaseBlue = #2d9bfa
$colorBaseGray = #c5c5c5
$colorBaseOrange = #fe9025
$colorBaseWhite = #fff

// background color
$bgColorWhite = #fff
$bgColorGray = #c5c5c5
$bgColorBlue = #2d9bfa
$bgColorBlue = #fe9025
