$fontSizeBase = 14px
$fontSizeLarge = 16px
$fontSizeSmall = 12px

// color
$colorBaseRed = #e43a3d
$colorBaseGray = #b7b7b7
$colorBaseBlack = #000

// background color
$bgColorWhite = #fff
$bgColorGray = #eeeeee
